.counter {
  background: #ff5722;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
  font: bold 15px/13px Helvetica, Verdana, Tahoma;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 2;
}
.parent {
}
.parent {
  margin-top: 24px;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.box {
  position: relative;
  padding: 8px 16px 8px 16px;
  background-color: #ffffff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 8px;
  filter: drop-shadow(2px 4px 6px grey);
}

.box h5 {
  text-align: left;
}

.box img {
  max-width: 220px;
  max-height: 120px;
  width: auto;
  height: auto;
  border-radius: 4px;
}

.img {
  text-align: center;
}
.description {
  /* margin-bottom: 50px; */
}

.description p {
  font-size: 16px;
  font-weight: 100;
  text-align: justify;
}
.buttonX {
  position: absolute;
  top: 4px;
  right: 8px;
  border-radius: 8px;
  border: 1px solid #4a4a4a;
}

.buttonEdit {
  position: absolute;
  top: 4px;
  left: 8px;
  border-radius: 8px;
  border: 1px solid #4a4a4a;
}

.buttonGhostGo {
  color: #4a4a4a;
  border: 1px solid #4a4a4a;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.3s ease;
  /*margin: 8px;*/
  max-width: 90%;
  position: absolute;
  bottom: 8px;
  left: 50%;
  margin-left: -54px;
}

.buttonGhostGo:hover {
  opacity: 0.6;
}

.buttonGhost {
  color: black;
  border: 1px solid #4a4a4a;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.3s ease;
  margin: 8px;
}

.buttonGhost:hover {
  opacity: 0.6;
  color: #4a4a4a;
}

.danger {
  position: relative;
  background-color: rgba(243, 146, 146, 0.87);
  padding: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.searchForm {
  text-align: center;
  border: none;
}

.searchForm input {
  border: 0;
  padding: 8px;
  width: 50%;
  border-radius: 40px;
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
  /* box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8); */
  border: 1px solid #4a4a4a;
}
.inputPreview {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.inputPreview button {
  color: #000;
  border: 1px solid #4a4a4a;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.3s ease;
  margin: 8px;
}

.inputPreview input {
  border-radius: 50px;
  padding: 8px 24px;
  margin: 8px;
  border: 1px solid #4a4a4a;
  width: 200px;
}

.preview {
  text-align: center;
}
