.filter {
  padding: 8px;
  text-align: center;
  width: 100%;
}

.filter select {
  border-radius: 50px;
  padding: 8px 24px;
  margin: 8px;
  border: 1px solid #4a4a4a;
  width: 200px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
